// main 
// import
@import 'node_modules/bootstrap-less/bootstrap/bootstrap.less';
@import 'mixin/mixin';
@import 'variable_site/color';
@import 'navigation/header';
.spacepad {
    padding-top: 15px;
    padding-bottom: 15px;
}

/** Page Content **/

.mainbanner {
    margin-top: 15px;
    background: url('images/desktop_bg.jpg') no-repeat;
    background-size: cover;

    &-content {
        color: #fff;

        .lead {
            font-size: 3em;
        }
    }
}

.highlight {
    &-item {
    	.spacepad();
        &-text {
            text-align: center;
            .spacepad();
        }
    }
}
