// HEADER

[class^='col-'] {
	padding-left: 15px;
	padding-right: 15px;
}

.site-logo {
	// .col-xs-4();
	// float: left;
}

.site-menu {
	padding-top: 1em;
	padding-bottom: 1em;

	&-item {
		float: left;
		padding-left: 15px;
		padding-right: 15px;
	}
}